@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'PT Sans', sans-serif;
    transition: all .5s;
}

:root {
    --respo-light: rgba(255, 255, 255, 1);
    --respo-dark: rgba(51, 51, 51, 1);
    --respo-primary: rgba(151, 146, 228, 1);
    --respo-secondary: rgba(0, 132, 253, 1);
    --respo-secondary-lighter: rgba(181, 221, 255, 1);
    --respo-accent: rgba(253, 193, 95, 1);
}

/* ------- Utilities ---------- */

.container {
    width: 85%;
    max-width: 1300px;
    margin: auto;

}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 0 -1.5rem;
    border: 1px solid red;
}

.col-12 {
    width: 100%;
}


.card {
    border: 2px solid green;
    margin: .5rem;
    background-color: var(--respo-secondary-lighter);
    border-radius: 20px;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.card h3 {
    color: var(--respo-secondary);
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.card p {
    line-height: 1.5rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    color: var(--respo-dark);
}

.small {
    flex-direction: column;
    text-align: center;
}

.small i {
    font-size: 5rem;
    color: var(--respo-secondary);
    margin-bottom: 2rem;
}






/* #region header */
header {
    background-color: var(--respo-secondary);
    padding: 1rem 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-bars {
    color: var(--respo-light);
    font-size: 2rem;
}

.right ul {
    display: none;
}

/* #endregion header */

/* #region demo */
#demo {
    padding-top: 2rem;
}

.part_a,
.part_b {
    border: 1px dashed black;
    /* height: 50%; */
}

.part_a {
    padding-bottom: 2rem;
}


.part_a a {
    color: var(--respo-light);
    letter-spacing: .3rem;
    background-color: var(--respo-secondary);
    padding: .5rem 2.5rem;
    border-radius: 20px;
    margin: 1.5rem 0;
}

.part_b {
    display: flex;
}



/* #endregion demo */
@media screen and (min-width:768px) {
    .col-md-12 {
        width: 100%;
    }

    .col-md-8 {
        width: calc((100%/12)*8);
        display: flex;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-4 {
        width: calc((100%/12)*4);
        display: flex;
    }


}

@media screen and (min-width:992px) {
    .fa-bars {
        display: none;
    }

    .right ul {
        display: flex;
        flex-direction: row-reverse;
        gap: 1rem;
    }

    .right ul li a {
        color: var(--respo-light);
        font-size: 1.5rem;
    }

    .right ul li a:hover {
        cursor: pointer;
        background-color: var(--respo-light);
        color: var(--respo-dark);
        padding: .5rem 1.5rem;
        border-radius: 30px;
    }

    .card {
        display: inline-flex;
    }

    .col-lg-6 {
        width: 50%;
    }

    .part_a {
        padding-bottom: 3rem;
    }
}

@media screen and (min-width:1200px) {
    .part_b img {
        padding-top: 3rem;
        transform: translateX(3rem);
    }
}