@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'PT Sans', sans-serif;
    transition: all .5s;
}

:root {
    --respo-light: rgba(255, 255, 255, 1);
    --respo-dark: rgba(51, 51, 51, 1);
    --respo-primary: rgba(151, 146, 228, 1);
    --respo-secondary: rgba(0, 132, 253, 1);
    --respo-secondary-lighter: rgba(181, 221, 255, 1);
    --respo-accent: rgba(253, 193, 95, 1);
}

/* ------- Utilities ---------- */

.container {
    width: 85%;
    max-width: 1300px;
    margin: auto;

}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 0 -1.5rem;

}

.col-12 {
    width: 100%;
}


.card {

    margin: .5rem;
    background-color: var(--respo-secondary-lighter);
    border-radius: 20px;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2rem;
}

.card h3 {
    color: var(--respo-secondary);
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.card p {
    line-height: 1.5rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    color: var(--respo-dark);
    /* padding-bottom: 2rem; */
}

.card_small {
    flex-direction: column;
    text-align: center;
}

.card_small i {
    font-size: 5rem;
    color: var(--respo-secondary);
    margin-bottom: 2rem;
}






/* #region header */
header {
    background-color: var(--respo-secondary);
    padding: 1rem 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-bars {
    color: var(--respo-light);
    font-size: 2rem;
}

.right ul {
    display: none;
}

/* #endregion header */

/* #region demo */
#demo {
    padding: 2rem 0;
}

.part_a {
    padding-bottom: 2rem;
}

.part_a a {
    color: var(--respo-light);
    letter-spacing: .3rem;
    background-color: var(--respo-secondary);
    padding: .5rem 2.5rem;
    border-radius: 20px;
    margin: 1.5rem 0;
}

.part_b {
    display: flex;

}

.part_b img {
    transform: translateY(2rem);
}



/* #endregion demo */


/* #region planning */




#planning {
    background-color: var(--respo-primary);

    padding: 2rem 1rem;
}

.planning_a img {
    width: 100%;
}

.planning_a h2 {
    font-size: 2.25rem;
    color: var(--respo-light);
    padding-top: 4rem;

}

.planning_a p {
    color: var(--respo-light);
    padding-top: 2rem;
    font-weight: 100;
    line-height: 1.5rem;
    padding-bottom: 3rem;
}

.planning_b .card {
    background-color: var(--respo-light);
    border-radius: 50px;
    text-align: center;
    padding-bottom: 1rem;
}

.planning_b .card img {
    width: 100%;

}

.planning_b .card h3 {
    color: var(--respo-dark);
    padding-top: .5rem;
    font-weight: bold;
}

.planning_b .card em {
    line-height: 1.5rem;
}

.arrow {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}

.arrow a {
    color: var(--respo-dark);
    background-color: var(--respo-primary);
    padding: .5rem .8rem;
    border-radius: 50%;

}

/* #endregion planning */


/* #region testimonials */
#testimonials {
    text-align: center;
}

#testimonials .title {

    padding: 3rem 1.5rem;
}

#testimonials .card {
    background-color: var(--respo-primary);
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: 40px;
}

h4 {
    font-size: 1rem;
}

#testimonials h2 {
    color: var(--respo-primary);
    padding-top: 2.5rem;
    font-size: 2rem;
}

#testimonials p {
    line-height: 2rem;
    padding-top: 3rem;
}

.photo img {
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    padding-bottom: 1rem;
}

.comment {
    line-height: 1.5rem;
    color: var(--respo-light);
    padding-bottom: 2rem;
}

.comment i {
    font-size: 1.5rem;
}

.sign {
    color: var(--respo-light);
    font-size: 1rem;
}






/* #endregion testimonials */


/* #region features */
#features {
    background-color: var(--respo-primary);
    padding: 2rem 0;
}

#features h2 {
    font-size: 2rem;
    color: var(--respo-light);
    text-align: center;
    padding-bottom: 2rem;
}

#features .card {
    text-align: left;
    background-color: var(--respo-light);
}

#features h3,
#features h4 {
    color: var(--respo-primary);

}

#features h3 {
    font-size: 2.5rem;
}

#features h4 {
    padding-bottom: 1.5rem;
}

#features a {
    background-color: var(--respo-primary);
    color: var(--respo-light);
    letter-spacing: .25rem;
    padding: .5rem 2rem;
    border-radius: 20px;
    transform: translateY(-3rem);
}



/* #endregion features */

/* #region about */
#about {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
}

#about h3 {
    font-size: 3rem;
    color: var(--respo-primary);
}

.top_p {
    padding: 2rem 0;
    line-height: 2rem;
}

.bottom_p {
    line-height: 2rem;
    padding-bottom: 3rem;
}

.image_about img {
    border-radius: 50%;
}

.image_about {
    display: flex;
    position: relative;
}

.image_about i {
    font-size: 4.5rem;
    color: var(--respo-primary);
    transform: translateX(-3.5rem);

}

.about_right h4 {
    font-size: 2rem;
    color: var(--respo-primary);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.about_right i {
    margin-right: .2rem;
}

.about_right a {
    background-color: var(--respo-primary);
    color: var(--respo-light);
    padding: .5rem 1rem;
    border-radius: 20px;
}

/* #endregion about */


@media screen and (min-width:768px) {
    .col-md-12 {
        width: 100%;
    }

    .col-md-8 {
        width: calc((100%/12)*8);
        display: flex;
    }

    .col-md-6 {
        width: 50%;
        justify-content: center;
    }

    .col-md-4 {
        width: calc((100%/12)*4);
        display: flex;
    }

    .arrow {
        transform: scale(1.5);
        margin-top: 4rem;
        margin-bottom: 2rem;
    }

    #testimonials .card {
        display: flex;


    }

    .testimonials_right {

        text-align: left;
        padding: 0 2rem;
        align-items: center;
        transform: translateY(1.5rem);
    }

    #about .col-12 {
        display: inline-flex;
    }

    .about_right {
        transform: scale(.8);
        padding-left: 4rem;
        width: 40%;

    }
}

@media screen and (min-width:992px) {
    .right i {
        display: none;
    }

    .right ul {
        display: flex;
        flex-direction: row-reverse;
        gap: 1rem;
    }

    .right ul li a {
        color: var(--respo-light);
        font-size: 1.5rem;
    }

    .right ul li a:hover {
        cursor: pointer;
        background-color: var(--respo-light);
        color: var(--respo-dark);
        padding: .5rem 1.5rem;
        border-radius: 30px;
    }

    .card {
        display: inline-flex;
    }

    .benefits_card {
        flex-direction: column;
    }

    .col-lg-4 {
        width: calc((100%/12)*4);
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-12 {
        width: 100%;
    }

    .part_a {
        padding-bottom: 3rem;

    }

    #planning {
        padding-bottom: 10rem;
    }

    #planning .col-lg-12 {
        display: inline-flex;
    }



    .planning_a,
    .planning_b {
        width: 50%;

    }

    .planning_a img {
        transform: translateY(2rem);
    }

    .planning_a h2,
    .planning_a p {
        transform: translateY(9rem);
    }

    .planning_b {
        transform: translateY(9rem);
    }



    .planning_b .card {
        flex-direction: column;

    }
}

@media screen and (min-width:1200px) {
    .part_b img {
        padding-top: 3rem;
        transform: translateY(2rem);

    }
}